資料結構<br>
tuple(暫時使用，儲存多個值)<br>
    1.建立後不可以改變內容<br>
    2.不能新增、編輯、刪除<br>
    3.通常用於別人傳資料給你<br>
list<br>
    1.建立後可以改變內容<br>
    2.可新增、編輯、刪除元素<br>
    3.有索引編號，編號是連續的，從0開始<br>
    4.sorted排序<br>
dictionart<br>
set<br>

In [9]:
#建立tuple用()
#fuction要傳出資料用return

def get_tuple():
    return (503,'error')

In [10]:
#tuple拆解法，呼叫別人的資料，建立變數
(code, messege) = get_tuple()
print(code)
print(messege)

503
error

In [11]:
#1個元素的tuple
(404,)

(404,)

In [12]:
#利用內建函數建立list
list()

[]

In [13]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
#把tuple變成list做其他利用(但一般很少這樣做)
list(('a','b','c',1,2,3))

['a', 'b', 'c', 1, 2, 3]

In [18]:
#利用符號建立List
stu1 = [78,92,65,73,81]
stu1

[78, 92, 65, 73, 81]

In [20]:
for score in stu1:
    print(score)

78
92
65
73
81

In [21]:
empty_list = []
weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
big_birds = ['emu', 'ostrich', 'cassowary']
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']

In [22]:
first_names

['Graham', 'John', 'Terry', 'Terry', 'Michael']

In [27]:
first_names[4]

'Michael'

In [28]:
type(first_names)

list

In [29]:
len(first_names)

5

In [31]:
first_names.append('Sylvia')
first_names

['Graham', 'John', 'Terry', 'Terry', 'Michael', 'Sylvia']

In [32]:
first_names.insert(2,'Silvia')
first_names

['Graham', 'John', 'Silvia', 'Terry', 'Terry', 'Michael', 'Sylvia']

In [33]:
for word in 'HelloWorld':
    print(word)

H
e
l
l
o
W
o
r
l
d

In [34]:
#把變數變成list
words = list('HelloWorld')
words

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [38]:
#slice切割
words[0:5]

['H', 'e', 'l', 'l', 'o']

In [39]:
words[-5:-1]

['W', 'o', 'r', 'l']

In [40]:
#冒號後面沒填，取到最後
words[-5:]

['W', 'o', 'r', 'l', 'd']

In [41]:
#冒號前面沒填，從最前面開始取
words[:5]

['H', 'e', 'l', 'l', 'o']

In [43]:
#二維的list（表格資料）
nb = ['筆記電腦', '商用筆電']
mobile = ['APPLE', 'ASUS', 'HTC']
home = [3, '冰箱', 2, '洗衣機']
all3c = [nb,mobile,home]
all3c

[['筆記電腦', '商用筆電'], ['APPLE', 'ASUS', 'HTC'], [3, '冰箱', 2, '洗衣機']]

In [44]:
print(all3c[0])
print(all3c[1])
print(all3c[2])

['筆記電腦', '商用筆電']
['APPLE', 'ASUS', 'HTC']
[3, '冰箱', 2, '洗衣機']

In [50]:
print(all3c[0][1])
print(all3c[1][2])
print(all3c[2][2])

商用筆電
HTC
2